<!DOCTYPE html>
<html>
  <head>
    <title>PDF Result</title>
  </head>
  <body>
    <h1>Results</h1>
    <p>Air Density: <%= (calculatedValues.airDensity).toFixed(2) %></p>
    <p>LD Factor: <%= (calculatedValues.ldFactor).toFixed(2) %></p>
    <p>Pressure Factor: <%= (calculatedValues.pressureFactor).toFixed(2) %></p>
    <!-- Add all the other properties in similar fashion -->
  </body>
</html>
